## BeautifulSoupTable into different format

install bs4
install request 
install pandas
install sqlalchemy

In [1]:
#import 

from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlalchemy

### HTTP Request

In [3]:
# store website in variable

url = "https://www.skyscrapercenter.com/buildings"

In [4]:
response = requests.get(url)       # to nmake request to the website

In [5]:
#status code 

response

#### Create Soup object

In [8]:
soup = BeautifulSoup(response.content, 'html.parser')
#soup

#### Results

In [9]:
#starting point 

results = soup.find('table',{'id':'buildingsTable'}).find('tbody').find_all('tr')  # find is used for "table" and "tbody" because they are just "one" while find_all is used for "tr" because they are many

In [10]:
len(results)

100

#### Find your Data

In [19]:
# name
results[0].find_all('td')[1].get_text().strip()

'Burj Khalifa'

In [17]:
# city
results[0].find_all('td')[2].get_text().strip()

'Dubai'

In [21]:
# completion_year

results[0].find_all('td')[4].get_text().strip()

'2010'

In [35]:
# height 

results[0].find_all('td')[5].find_all("p")[0].get_text()

'828 m'

In [23]:
# floor

results[0].find_all('td')[6].get_text().strip()

'163'

In [24]:
# material

results[0].find_all('td')[7].get_text().strip()

'steel/concrete'

In [36]:
#functions

results[0].find_all('td')[8].get_text().strip()

'office / residential / hotel'

#### Collection for all rows_ For loop

In [50]:
name = []
city = []
completion_year = []
height = []
floors = []
material = []
function = []


# for loop

for i in results:

    #name
    name.append(i.find_all('td')[1].get_text().strip())

    #city
    city.append(i.find_all('td')[2].get_text().strip())

    #completion_year

    completion_year.append(i.find_all('td')[4].get_text().strip())

    #height
    height.append(i.find_all('td')[5].find_all("p")[0].get_text())
    #floors

    floors.append(i.find_all('td')[6].get_text().strip())

    #material
    material.append(i.find_all('td')[7].get_text().strip())

    #function
    function.append(i.find_all('td')[8].get_text().strip())

#### Pandas Dataframe

In [51]:
df_buildings = pd.DataFrame({"name ": name, "city" : city, "completion_year ": completion_year, "height" : height, "floors" : floors, "material" : material, "function":function}) 
df_buildings

,name,city,completion_year,height,floors,material,function
0,Burj Khalifa,Dubai,2010,828 m,163,steel/concrete,office / residential / hotel
1,Shanghai Tower,Shanghai,2015,632 m,128,composite,hotel / office
2,Makkah Royal Clock Tower,Mecca,2012,601 m,120,steel/concrete,hotel / residential / retail
3,Ping An Finance Center,Shenzhen,2017,599.1 m,115,composite,office
4,Lotte World Tower,Seoul,2017,554.5 m,123,composite,hotel / residential / office / retail
...,...,...,...,...,...,...,...
95,Wilshire Grand Center,Los Angeles,2017,335.3 m,62,composite,hotel / office
96,DAMAC Heights,Dubai,2018,335.1 m,88,concrete,residential
97,"Twin Towers Guiyang, East Tower",Guiyang,2020,335 m,74,composite,office
98,"Twin Towers Guiyang, West Tower",Guiyang,2020,335 m,74,composite,hotel / office
99,Shimao International Plaza,Shanghai,2006,333.3 m,60,concrete,hotel / office / retail

#### Pandas Dataframe

In [54]:
# csv

df_buildings.to_csv("buildings.csv", sep=",", encoding="utf-8-sig", index=False)

In [53]:
#excel
df_buildings.to_excel("buildings_excel.xlsx", index=False)

In [55]:
#json

df_buildings.to_json("buildings.json", orient ="records", lines=True, force_ascii=False)

In [ ]:
#postgresql

import sqlalchemy

engine = sqlalchemy.create_engine('postgresql://postgres:Sunday@/1234@localhost:5433')     # because my password contain "@", It running to error seeing the second @
df_buildings.to_sql('buildings', engine, index=False)