### API_table_Scrapping 

    - visit the url

    - click Inspect 

    - click Network

    - Right click on the Request

    -copy as cURL

    - Google any curl converter and Paste the copied cURL request

#### Import

In [1]:
import requests
import pandas as pd
import sqlalchemy

#### Request & CURL

In [2]:
# delete the Import request that comes with the result

headers = {
    'Accept': 'application/json, text/javascript, */*; q=0.01',
    'Accept-Language': 'en-GB,en-US;q=0.9,en;q=0.8',
    'Connection': 'keep-alive',
    'Origin': 'https://ontariohockeyleague.com',
    'Referer': 'https://ontariohockeyleague.com/',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'cross-site',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36',
    'sec-ch-ua': '".Not/A)Brand";v="99", "Google Chrome";v="103", "Chromium";v="103"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
}

params = {
    'feed': 'modulekit',
    'view': 'statviewtype',
    'type': 'topscorers',
    'key': '2976319eb44abe94',
    'fmt': 'json',
    'client_code': 'ohl',
    'lang': 'en',
    'league_code': '',
    'season_id': '70',
    'first': '0',
    'limit': '100',
    'sort': 'active',
    'stat': 'all',
    'order_direction': '',
}

response = requests.get('https://lscluster.hockeytech.com/feed/', params=params, headers=headers)

#### Check Status Code

In [3]:
response

#### Create JSON object

In [4]:
results_json=response.json()

#### Outputs keys

In [7]:
results_json.keys()

dict_keys(['SiteKit'])

#### Find your data

    - Name
    - Age
    - Height
    - Games Played
    - Goals
    - Points
    - Penalty Minutes
    - Home Country

In [10]:
# starting point 

results= results_json["SiteKit"]["Statviewtype"]       # creating a new variable, from the response save inform of json inside results_json
                                                       #  trying tolocated where the info is stole. (check the Network)
len(results)

100

In [11]:
# name
# info for one and one name 
results[0]["name"]         # [0] implies Row 1  while ["name"] is the key you are interested in (NB: data is dictionary)

'Wyatt Johnston'

In [12]:
# Age
results[0]["age"]

'19'

In [13]:
# height
results[0]["height"]

'6.02'

In [14]:
# Game played
results[0]["games_played"]

'68'

In [18]:
# Goals
results[0]["goals"]

'46'

In [15]:
# Points
results[0]["points"]

'124'

In [16]:
# Penalty Minutes
results[0]["penalty_minutes"]

'26'

In [31]:
# Home country
results[0]["homecntry"]

'Canada'

#### Combine the data together_ Using For loop

In [32]:
# Creating a list, looping over all data and finally append then to it. 
name = []
age = []
height = []
games_played= []
goals=[]
points=[]
penalty_minutes=[]
home_country=[]


# loop 

for i in results:

    #name 
    name.append(i["name"])

    #age
    age.append(i["age"])

    #height
    height.append(i["height"])

    #games_played
    games_played.append(i["games_played"])

    #goals
    goals.append(i["goals"])

    #points
    points.append(i["points"])

    #penalty_minutes
    penalty_minutes.append(i["penalty_minutes"])

    #home_country
    home_country.append(i["homecntry"])

#### Pandas Dataframe

In [37]:
# Nb: Your key can be any name, but the values name should correspond to usefor the list

hockey_df = pd.DataFrame({"Name":name, "Age":age, "Height":height, "Games_played": games_played, "Goals":goals,"Points":points, "Penalty_minutes":penalty_minutes, "Home_country":home_country})

hockey_df

,Name,Age,Height,Games_played,Goals,Points,Penalty_minutes,Home_country
0,Wyatt Johnston,19,6.02,68,46,124,26,Canada
1,Rory Kerins,20,5.11,67,43,118,49,Canada
2,Lucas Edmonds,21,5.11,68,34,113,14,Canada
3,Luke Evangelista,20,6.00,62,55,111,48,Canada
4,Brandon Coe,20,6.05,62,34,101,40,Canada
...,...,...,...,...,...,...,...,...
95,Kocha Delic,18,5.10,65,17,46,29,Canada
96,Noah Sedore,20,5.09,68,17,46,32,Canada
97,Ryan Abraham,18,5.10,64,15,46,60,United States
98,Ryan O'Rourke,20,6.00,51,10,46,87,Canada
99,Nicholas Porco (total),21,6.00,59,25,45,27,Canada

#### Output

In [38]:
# csv
hockey_df.to_csv("hockey.csv", sep=';',encoding='utf-8-sig', index = False)

In [39]:
#excel
hockey_df.to_excel('hockey_excel.xlsx', index= False)

In [40]:
# json
hockey_df.to_json("hockey_json.json", orient='records', lines=True, force_ascii= False)

In [ ]:
#postgresql
import sqlalchemy

engine = sqlalchemy.create_engine('postgresql://postgres:Sunday@/1234@localhost:5433')     # because my password contain "@", It running to error seeing the second @
hockey_df.to_sql('hockey', engine, index=False)