## Web Scraping Table with Python 

install pandas 
install selenium
install sqlalchemy

### Goal: Scrapping table with selenium into Postgrel database

In [60]:
# import library 
from selenium import webdriver
import pandas as pd
from sqlalchemy

#### Initialization

In [28]:
#store url
url = 'https://worldpopulationreview.com/countries'


# initializa ChromeDriver

driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')

# open url 
driver.get(url)

# maximize window
driver.maximize_window()

# agree
agree = driver.find_element_by_xpath('//button[@class=" css-1hy2vtq"]')

try:
    agree.click()
except:
    pass

# save
save = driver.find_element_by_xpath('//button[@class=" css-47sehv"]')

try:
    save.click()
except:
    pass

C:\Users\masud\AppData\Local\Temp\ipykernel_21548\2314073768.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:\webdriver\chromedriver.exe')
C:\Users\masud\AppData\Local\Temp\ipykernel_21548\2314073768.py:16: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  agree = driver.find_element_by_xpath('//button[@class=" css-1hy2vtq"]')
C:\Users\masud\AppData\Local\Temp\ipykernel_21548\2314073768.py:24: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  save = driver.find_element_by_xpath('//button[@class=" css-47sehv"]')

#### Scrapping part

In [ ]:
# countries
Countries = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[2]")


# population 2022
Population_2022 = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[3]")

# population 2021
Population_2021 = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[4]")

# growth Rate
Growth_rate = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[5]")

# Area
Area = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[6]")


# Density
Density = driver.find_elements_by_xpath("//div[@class='datatable-container undefined']//tbody[@class='jsx-2006211681']/tr/td[7]")

In [ ]:
for a in Density:
    print(a.text)

In [ ]:
# data cleaning 
Growth_rate[0].text.split('%')[0]

# data cleaning 
Density[0].text.split('/')[0]

#### Dataframe building

In [30]:
df_population = pd.DataFrame(columns=["Countries", "Population_2022","Population_2021", "Growth_rate_%","Area","Density_km2"])

In [27]:
df_population

Empty DataFrame
Columns: [Countries, Population_2022, Population_2021, Growth_rate_%, Area, Density_km2]
Index: []

In [ ]:
for i in range(len(Countries)):

    df_population = df_population.append({"Countries":Countries[i].text, "Population_2022": Population_2022[i].text,"Population_2021": Population_2021[i].text,
                                             "Growth_rate_%": Growth_rate[i].text.split('%')[0], "Area":Area[i].text, 
                                             "Density_km2": Density[i].text.split('/')[0]}, ignore_index = True)

In [32]:
df_population

,Countries,Population_2022,Population_2021,Growth_rate_%,Area,Density_km2
0,China,"1,448,471,400","1,444,216,107",0.29,"9,706,961",149
1,India,"1,406,631,776","1,393,409,038",0.95,"3,287,590",428
2,United States,"334,805,269","332,915,073",0.57,"9,372,610",36
3,Indonesia,"279,134,505","276,361,783",1.00,"1,904,569",147
4,Pakistan,"229,488,994","225,199,937",1.90,"881,912",260
...,...,...,...,...,...,...
204,San Marino,"34,085","34,017",0.20,61,559
205,Palau,"18,233","18,169",0.35,459,40
206,Tuvalu,"12,066","11,931",1.13,26,464
207,Nauru,"10,903","10,876",0.25,21,519
208,Vatican City,799,800,-0.12,1,799

#### Export of the data

In [33]:
# Into CSV

df_population.to_csv('population.csv', sep=';', encoding = 'utf-8-sig', index = False)

In [37]:
# Into Excel

df_population.to_excel('Population_excel.xlsx', index= False)

In [39]:
# Into Json

df_population.to_json("population_json.json", orient='records', lines=True, force_ascii= False)

In [ ]:
# Into PostgreSql

df_population.to_sql('population',conn, index=False)